
<div class="grid-wrapper">
  <div>
    <!-- <a routerLink="createCV"> CREATE YOUR CV  <i class="bi bi-arrow-right"></i></a> -->
    <a  href="img"><img src="../../assets/img/t1.png"> </a>
  </div>
  <div>
    <img src="../../assets/img/y3.jpg" alt="" />
  </div>
  <div class="tall">
    <img src="../../assets/img/t8.jpg" alt="">
  </div>
  <div class="wide">
    <img src="../../assets/img/t1.png" alt="" />
  </div>
  <div>
    <img src="../../assets/img/t3.jpg " alt="" />
  </div>
  <div class="tall">
    <img src="../../assets/img/y2.png " alt="" />
  </div>
  <div class="big">
    <img src="../../assets/img/t1.png" alt="" />
  </div>
  <div>
    <img src="../../assets/img/t1.png" alt="" />
  </div>
  <div class="wide">
    <img src="../../assets/img/t1.png" alt="" />
  </div>
  <div class="big">
    <img src="../../assets/img/t1.png" alt="" />
  </div>
  <div class="tall">
    <img src="../../assets/img/t12.jpg" alt="" />
  </div>
  <div>
    <img src="../../assets/img/t1.png" alt="" />
  </div>
  <div>
    <img src="../../assets/img/t13.jpg" alt="" />
  </div>
  <div>
    <img src="../../assets/img/t14.png" alt="" />
  </div>
  <div>
    <img src="../../assets/img/t1.png" alt="" />
  </div>
  <div class="wide">
    <img src="../../assets/img/t1.png" alt="" />
  </div>
  <div>
    <img src="../../assets/img/t1.png" alt="" />
  </div>
  <div>
    <img src="../../assets/img/t1.png" alt="" />
  </div>
  <div class="wide">
    <img src="../../assets/img/t1.png" alt="" />
  </div>
  <div>
    <img src="../../assets/img/t18.png" alt="" />
  </div>
  <div class="wide">
    <img src="../../assets/img/t1.png" alt="" />
  </div>
  <div class="big">
    <img src="../../assets/img/r2.png" alt="" />
  </div>
  <div>
    <img src="../../assets/img/y1.jpg" alt="" />
  </div>
  <div>
    <img src="../../assets/img/t17.jpg" alt="" />
  </div>
  <div class="big">
    <img src="../../assets/img/t1.png" alt="" />
  </div>
  <div class="tall">
    <img src="../../assets/img/y1.jpg" alt="" />
  </div>
  <div>
    <img src="../../assets/img/t14.png" alt="" />
  </div>
  <div>
    <img src="../../assets/img/t1.png" alt="" />
  </div>
  <div class="wide">
    <img src="../../assets/img/t1.png" alt="" />
  </div>

  <div>
    <img src="../../assets/img/t15.jpg" alt="" />
  </div>
  <div>
    <img src="../../assets/img/t1.png" alt="" />
  </div>
  <div class="wide">
    <img src="../../assets/img/t16.png" alt="" />
  </div>
</div>



