<div class="banner">
  <div class="content">
  <h1 class="mb-5"> So easy to use that your <br> resume writes itself. </h1>
  <a routerLink="createCV"> CREATE YOUR CV  <i class="bi bi-arrow-right"></i></a>
</div>
</div>


<div class="container mt-5 mb-4">
  <h1 class="text-center mb-4"> CV <span class="hl"> Example </span> </h1>
  <div class="row mt-5">

    <div class="col-lg-4 mt-2">
      <div class="stepBox">
      <img src="../../assets/img/t5.jpg" alt="">
      </div>
    </div>

    <div class="col-lg-4 mt-2">
      <div class="stepBox">
     <img src="../../assets/img/t7.jpg" alt="">
      </div>
     </div>

     <div class="col-lg-4 mt-2">
      <div class="stepBox">
      <img src="../../assets/img/r1.jpg" alt="">
     </div>
     </div>


  </div>
  <a routerLink="menu" class="viewmorebtn" style="margin-top: 30px;">view more <i class="bi bi-arrow-right"></i></a>

</div>



